<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-4 col-lg-4">
			<h3>Servicios</h3>
			<ul>
				<li>Pintura</li>
				<li>Plomería</li>
				<li>Eléctrica</li>
				<li>Carpintería</li>
			</ul>
		</div>
		<div class="col-sm-12 col-md-4 col-lg-4">
			<h3>Contacto</h3>
			<ul>
				<li>Teléfono: +1 301 7777</li>
				<li>Correo: contacto@handyman.com</li>
				<li>Web: www.this.handyman.com</li>
				<li>Ubicación: Av. Restauración 742</li>
			</ul>
		</div>
		<div class="col-sm-12 col-md-4 col-lg-4">
			<h3>Redes Sociales</h3>
			<ul>
				<li><fa-icon [icon]="faCoffee"></fa-icon></li>
				<li>Twitter</li>
				<li>LinkedIn</li>
				<li>Youtube</li>
			</ul>
		</div>
	</div>
</div>
