<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-4 col-lg-4 d-flex justify-content-center align-items-center">
			
			<ul><h3>Servicios</h3>
				<li id="pin">Pintura</li>
				<li id="plo">Plomería</li>
				<li id="ele">Eléctrica</li>
				<li id="car">Carpintería</li>
			</ul>
		</div>
		<div class="col-sm-12 col-md-4 col-lg-4 d-flex justify-content-center align-items-center">
			
			<ul><h3>Contacto</h3>
				<li id="tel">Teléfono: +1 301 7777</li>
				<li id="cor">Correo: contacto@handyman.com</li>
				<li id="web">Web: www.this.handyman.com</li>
				<li id="ub">Ubicación: Av. Restauración 742</li>
			</ul>
		</div>
		<div class="col-sm-12 col-md-4 col-lg-4 d-flex justify-content-center align-items-center">
			
			<ul><h3>Redes Sociales</h3>
				<!--<li><fa-icon [icon]="faCoffee"></fa-icon></li>-->
				<li id="fb">Facebook</li>
				<li id="tw">Twitter</li>
				<li id="in">LinkedIn</li>
				<li id="yb">Youtube</li>
			</ul>
		</div>
	</div>
</div>
