<div class="container-fluid">
	<div class="row">
		
		<div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center align-items-center">
			<form>
				<h3>Comunícate con nosotros</h3>
				<input type="text" name="nombre" placeholder="Tu nombre">
				<br>
				<input type="mail" name="mail" placeholder="Tu correo">
				<br>
				<input type="phone" name="phone" placeholder="Tu teléfono">
				<br>
				<input type="text" name="message" placeholder="Tu mensaje" id="mess">
				<br>
				<button>Enviar</button>
			</form>
		</div>

		<div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center align-items-center">
			<img src="/././assets/img/comunicate2.png" alt="comunicate" id="imgComunicate2">
		</div>
	</div>
</div>
