<div class="container-fluid">
	<div class="row">
		
		<div class="col-sm-12 col-md-6 col-lg-6">
			<form>
				<h3>Comunícate las 24 horas del día</h3>
				<input type="text" name="nombre" placeholder="Tu nombre">
				<input type="mail" name="mail" placeholder="Tu correo">
				<input type="phone" name="phone" placeholder="Tu teléfono">
				<input type="text" name="message" placeholder="Tu mensaje">
				<button>Enviar</button>
			</form>
		</div>

		<div class="col-sm-12 col-md-6 col-lg-6">
			<img src="/././assets/img/comunicate.png" alt="comunicate" id="imgComunicate">
		</div>
	</div>
</div>
