.header{
	padding: 2em 0;
	/*position: -webkit-sticky;
  position: sticky;*/
  position:fixed;
	background-color: #015093db;
	top: 0;
	border-bottom: solid #ffffff6e 0.3em;
}

#logo{
	max-width: 8em;
}