<div class="container-fluid generalContainer">
	<div class="row">
		
		<div class="col-sm-12 col-mg-6 col-lg-6 d-flex justify-content-center align-items-center">
			<img src="/././assets/img/remoto.png" alt="remote" id="imgRemote">
		</div>

		<div class="col-sm-12 col-mg-6 col-lg-6 d-flex justify-content-center align-items-center">
			<h3 id="servRemote">Todos nuestros servicios cuentan con asistencia remota</h3>
		</div>

		
	</div>

	
</div>

<div class="container-fluid auxContainer">
	<div class="row" id="call">
		<div class="col-12 d-flex justify-content-center align-items-center">
			<h4 id="callUs">Llámanos a cualquier hora al <span id="number">+1 301 7777</span></h4>			
		</div>
	</div>
</div>