<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<h3>Nuestros Servicios</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-6">
			<div class="row">
				<div class="col-6">
					<img src="../assets/img/pintura.png" alt="" class="imgIcon" id="painting">
					<h5>Pintura</h5>
				</div>
				<div class="col-6">
					<img src="../assets/img/plomeria.png" alt="" class="imgIcon" id="plumbing">
					<h5>Plomería</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<img src="../assets/img/electricidad.png" alt="" class="imgIcon" id="electricity">
					<h5>Eléctricos</h5>
				</div>
				<div class="col-6">
					<img src="../assets/img/carpinteria.png" alt="" class="imgIcon" id="carpentry">
					<h5>Carpintería</h5>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6">
			<!--here is the big image-->
			<!--contenedor general-->
			<div class="wrapper">
				<!--contenedor del texto-->
			  <blockquote class="text">
			  		<!--texto-->
			    <p id="principalText">Brindamos el mejor servicio de pintura para interiores y exteriores</p>
			  </blockquote>
			</div>
		</div>
	</div>
</div>
