<div class="container-fluid">
	<div class="row d-flex justify-content-center align-items-center" id="principal">
		<div class="col-sm-12 col-md-6 col-lg-6">
			<div class="row ">
				<div class="col-6 d-flex justify-content-center align-items-center">
					<img src="../assets/img/pintura.png" alt="" class="imgIcon" id="painting">
				</div>
				<div class="col-6 d-flex justify-content-center align-items-center">
					<img src="../assets/img/plomeria.png" alt="" class="imgIcon" id="plumbing">

				</div>
			</div>
			<div class="row">
				<div class="col-6 d-flex justify-content-center align-items-center">
					<h4>Pintura</h4>
				</div>
				<div class="col-6 d-flex justify-content-center align-items-center">
					<h4>Plomería</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-6 d-flex justify-content-center align-items-center">
					<img src="../assets/img/electricidad.png" alt="" class="imgIcon" id="electricity">

				</div>
				<div class="col-6 d-flex justify-content-center align-items-center">
					<img src="../assets/img/carpinteria.png" alt="" class="imgIcon" id="carpentry">

				</div>
			</div>
			<div class="row">
				<div class="col-6 d-flex justify-content-center align-items-center">
					<h4>Electricidad</h4>
				</div>
				<div class="col-6 d-flex justify-content-center align-items-center">
					<h4>Carpintería</h4>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center align-items-center">
			<!--here is the big image-->
			<!--contenedor general-->
			<div class="wrapper">
				<!--contenedor del texto-->
			  <blockquote class="text">
			  		<!--texto-->
			    <p id="principalText">Brindamos el mejor servicio de pintura y enchapado para interiores y exteriores en todo tipo de construcciones</p>
			  </blockquote>
			</div>
		</div>
	</div>
</div>
